.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist

led_controller/public/
led_controller/build/
led_controller/src/App_with_key.js
led_controller/src/package-lock.json
led_controller/src/reportWebVitals.js
android_webview/ArduinoLEDControl/build*
android_webview/ArduinoLEDControl/app/proguard-rules.pro
android_webview/ArduinoLEDControl/gradle*
android_webview/ArduinoLEDControl/app/src/main/res/mipmap*
android_webview/ArduinoLEDControl/app/src/main/res/drawable*
android_webview/ArduinoLEDControl/app/src/main/assets/html/
android_webview/ArduinoLEDControl/app/src/androidTest
android_webview/ArduinoLEDControl/app/src/main/Alyssa_launcher-playstore.png
android_webview/ArduinoLEDControl/app/src/test/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log

# Android Studio generated files and folders
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
